{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}"
                           alt="todo list">{% endblock %}

{% block body %}
    <a href="{{ path('task_create') }}" class="btn btn-info pull-right">Créer une tâche</a>
    <div class="row">
        {% for task in tasks %}
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a>
                            <span class="pull-right">
                                {% if task.done %}
                                    <span class="material-icons" style="color: #28a745">check</span>
                                {% else %}
                                    <span class="material-icons" style="color: #dc3545">clear</span>
                                {% endif %}
                            </span>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {% if task.user is not null %}
                                <p>Crée par : {{ task.user.username }}</p>
                            {% else %}
                                <p>Auteur anonyme</p>
                            {% endif %}
                        </h6>
                        <p class="card-text">{{ task.content }}</p>
                        <div>
                            <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                                <button class="btn btn-success btn-md">
                                    {% if not task.isDone %}
                                        Marquer comme terminée
                                    {% else %}
                                        Marquer comme non terminée
                                    {% endif %}
                                </button>
                            </form>
                            {% if app.user == task.user or (is_granted('ROLE_ADMIN') and task.user == null) %}
                                <form action="{{ path('task_delete', {'id' : task.id }) }}">
                                    <button class="btn btn-danger btn-md delete-btn">Supprimer</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
